{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Accounting</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Updated: Nov 01 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <!-- Uncomment the line below if you also wish to use an image logo -->
        <h1 class="sitename">Accounting</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li class="dropdown"><a href="#"><span>Master</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Accounts</a></li>
              <li><a href="#">Groups</a></li>
              <li><a href="#">Items</a></li>
              
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Entry</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Cash Entry</a></li>
              <li><a href="#">Sales</a></li>
              <li><a href="#">Purchase</a></li>
              <li><a href="#">Sauda Purchase</a></li>
              <li><a href="#">Sauda Sales</a></li>
              <li><a href="#">JV entry</a></li>
              <li><a href="#">Job Receipt</a></li>
              <li><a href="#">Job Issue</a></li>
              <li><a href="#">Production</a></li>
              
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Modify</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Cash Entry</a></li>
              <li><a href="#">Sales</a></li>
              <li><a href="#">Purchase</a></li>
              <li><a href="#">Sauda Purchase</a></li>
              <li><a href="#">Sauda Sales</a></li>
              <li><a href="#">JV entry</a></li>
              <li><a href="#">Job Receipt</a></li>
              <li><a href="#">Job Issue</a></li>
              <li><a href="#">Production</a></li>
              
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Reports</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Cash Book</a></li>
              <li><a href="#">A/C Statement</a></li>
              <li><a href="#">Sales Book</a></li>
              <li><a href="#">Purchase Book</a></li>
              <li><a href="#">Pending Sauda</a></li>
              <li><a href="#">JV Book</a></li>
              <li><a href="#">Days Book</a></li>
              <li><a href="#">Short Ledger 1</a></li>
              <li><a href="#">Short Ledger 2</a></li>
              
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Utility</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Trial Balance</a></li>
              <li><a href="#">Job Book</a></li>
              <li><a href="#">Slip Print</a></li>
              <li><a href="#">Profit & Loss</a></li>
              <li><a href="#">Balance Sheet</a></li>
              <li><a href="#">Item Ledger</a></li>
              <li><a href="#">Item Summary</a></li>
              <li><a href="#">Job Ledger</a></li>
              <li><a href="#">Part summary</a></li>
              
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Tools</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Indexing</a></li>
              <li><a href="#">New Year</a></li>
              <li><a href="#">Remove Data</a></li>
              <li><a href="#">Backup</a></li>
              <li><a href="#">Restore</a></li>
              
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <div style="position: relative; margin-left: 5%; width: 90%; max-width: 1200px;">
        <a class="btn-getstarted flex-md-shrink-0" href="{% url 'login' %}">Login</a>
      <a class="btn-getstarted flex-md-shrink-0" href="{% url 'register' %}">Register</a>
      </div>
    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">EMPOWER<br> YOUR<br> FINANCES</h1>
            
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    


  </main>

  <footer id="footer" class="footer">

    

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <strong class="px-1 sitename">Sanjay Jindal</span></strong>

          <div class="footer-contact pt-3">
            <p class="mt-3"><strong>Phone:</strong> <span>9426064310</span></p>
            <p><strong>Email:</strong> <span>sanjay_zindal@rediffmail.com</span></p>
          </div>
        </div>

        

        
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">First Computer</strong> </p>
      
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>
  
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  
  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  

</body>

</html>